.gameboard {
    width:  calc((150px * 3) + (15px * 2 * 3)); 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);  
    grid-gap: 15px;  
    justify-items: center; 
    align-items: center; 
  }

  .gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--scoreboard-height));
  }
  
  