@font-face {
    font-family: 'OrangeKid';
    src: url('../assets/orangekid.otf') format('opentype');
}

.professor-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.professor-img {
    max-height: 400px; /* adjust as needed */
    margin-left: 20px;
    position: relative;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: flex-end;

}

.speech-bubble {
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    width: 100px;
    bottom: 350px;
    left: 140px;
    color: #000;
    font-family: 'OrangeKid', sans-serif;
}

.speech-bubble::before{
    content:"";
    position: absolute;
    left: 70%;
    bottom: -10px;
    transform: translateX(-30%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: none;
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.speech-bubble span.cursor {
    animation: blink 1s infinite;
    border-right: 2px solid #000;  /* Cursor appearance */
    padding-right: 5px;
    margin-left: 5px;
}
